:root {
    --bright: #d3d3d3;  /* Defining a color variable */
    
    --dark: #999898;  /* Defining a color variable */

    --brighter: #e0e0e0;  /* Defining a color variable */

}


body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;      /* Horizontally centers items */
    justify-content: top;  /* Vertically centers items */
    height: 80vh;            /* Full viewport height */
    margin-top: 2vh;                
    color: var(--brighter);
    background-color: rgb(48, 48, 48);
    gap: 0;
}

.back{
    background: none;
    border: none;
    position: fixed;
    top: 1.5vh;
    left: 0.2vh;
    width: 15vw;
    height: 5vh;
    padding: 0;
}
.backImg{
    width: 8vw;
    height: 6vw;

}

.quiz{
    gap: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;      /* Horizontally centers items */
    justify-content: center;  /* Vertically centers items */
    margin: 0;                
}

.variables{
    display: flex;
    flex-direction: column;
    align-items: center;   
}

h1{
    margin: 0;
    /*margin-right: 1vw;
    margin-left: 1vw;*/
    font-size: max(2.3vw, 27px);
    text-align: center;
    text-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

}
.timer{
    margin: 0;
    margin-bottom: 5vh;
    margin-top: 5vh;
    font-size: max(2.5vw, 30px);
}

.playNoteButton{
    margin: 0;
    background-color: var(--bright);
    font-size: max(6vw, 60px);
    border-radius: 3vw;
    border: none;
    padding: 5vw;
    min-width: 180px;
    color: black;
    min-height: 180px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4);
}

.answerButtons{
    padding-right: 1vw;
    padding-left: 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; /* Center the buttons horizontally */
    gap: 3vw
}

.ans{
    align-items: flex-end;
    width: max(5vw, 50px);
    height: max(6vh, 60px);
    font-size: max(1.5vw, 20px);
    color: rgb(48, 48, 48);
    margin: 0;
    border-radius: max(1vw, 10px);
    border: none;
    font-weight: bold;
    background-color: var(--bright);
}


.ans:active {
    background-color: var(--brighter);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 10px 10px 15px rgba(0, 0, 0, 0.4) 0.1 ease;
    transition: background-color 0.1s ease, ; /* Add transition for smooth effect */
}

.playNoteButton:active {
    background-color: var(--brighter);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 10px 10px 15px rgba(0, 0, 0, 0.4) 0.1 ease;
    transition: background-color 0.1s ease, ; /* Add transition for smooth effect */
}
